<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297591671851-6valqs5hrb7i48vrhktiimik7ca0aeha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297591671851-6valqs5hrb7i48vrhktiimik7ca0aeha</string>
	<key>API_KEY</key>
	<string>AIzaSyBMxWSK3ea8HPo4D7a3Cyyt5sThLUM9OnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>297591671851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edtech.nedusoft</string>
	<key>PROJECT_ID</key>
	<string>nedusoft-edtech</string>
	<key>STORAGE_BUCKET</key>
	<string>nedusoft-edtech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297591671851:ios:dccecd5f87864cecde2e6e</string>
</dict>
</plist>