<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737467833081-pmhqi1mtq51tui7p0dfrm3ru253sd0fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737467833081-pmhqi1mtq51tui7p0dfrm3ru253sd0fa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>737467833081-og32nhk1avmj4ke9a1097713ma7d5lll.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCM-V51ppS9HSP_0b3ky_9U64zhQdPG5Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>737467833081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kidzooMarket</string>
	<key>PROJECT_ID</key>
	<string>kidzoo-market</string>
	<key>STORAGE_BUCKET</key>
	<string>kidzoo-market.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737467833081:ios:c06907da3c91c70ff0a028</string>
</dict>
</plist>